*.sig linguist-language=SystemVerilog

*.sld linguist-language=SystemVerilog

*.html linguist-language=SystemVerilog

*.mk linguist-language=Verilog

Makefile linguist-language=Verilog

*Makefile linguist-language=Verilog

*.makefile linguist-language=Verilog

*.d linguist-language=Verilog

*.sh linguist-language=Verilog

*.S linguist-language=Verilog

*.asm linguist-language=Verilog

*.xml linguist-language=Verilog

create-this-bsp linguist-language=Verilog

create-this-app linguist-language=Verilog

*.properties linguist-language=Verilog

*.ini linguist-language=Verilog

*.v linguist-language=Verilog